@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed");
html,
body,
ul,
ol,
h3,
span {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

body {
  font-family: 'Cabin Condensed', sans-serif; }

h3 {
  font-size: 10pt; }

span {
  font-size: 9pt; }

/*color vars*/
/*color names for output*/
/*Grid vars*/
/*box height vars*/
/*breakpoints*/
[class*='column-'] {
  float: left;
  padding: 1em;
  margin-bottom: 1em;
  min-height: 1px; }

.container:after,
.row:after {
  *zoom: 1; }
  .container:after,
  .row:after {
    content: "";
    display: table; }
  .container:after,
  .row:after {
    clear: both; }

body {
  text-align: left; }

h3 {
  float: left;
  width: 35%;
  clear: left; }

.container {
  width: 80%;
  max-width: 150em;
  margin: 0 auto; }

[class*='column-'] {
  width: 100%; }

.left {
  float: left; }

.color-box {
  height: 70px; }

[class*="-mix"] {
  height: 30px;
  margin-bottom: .75em;
  margin-top: .75em;
  clear: both; }

/*apply rules up the max width, then stop applying them*/
@media only screen and (min-width: 50em) {
  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; } }
.top-colors .row .color-primary:before {
  content: "primary";
  text-transform: capitalize; }

.top-colors .row .color-secondary:before {
  content: "secondary";
  text-transform: capitalize; }

.top-colors .row .color-tertiary:before {
  content: "tertiary";
  text-transform: capitalize; }

.top-colors .row .color-accent:before {
  content: "accent";
  text-transform: capitalize; }

.top-colors .color-primary > .color-box {
  content: "primary";
  background-color: #D8F5E8; }

.top-colors .color-secondary > .color-box {
  content: "secondary";
  background-color: #2ACCC3; }

.top-colors .color-tertiary > .color-box {
  content: "tertiary";
  background-color: #FFBC17; }

.top-colors .color-accent > .color-box {
  content: "accent";
  background-color: #FF623F; }

.color-primary .name:after, .color-primary .hsl:after, .color-primary .rgb:after, .color-secondary .name:after, .color-secondary .hsl:after, .color-secondary .rgb:after, .color-tertiary .name:after, .color-tertiary .hsl:after, .color-tertiary .rgb:after, .color-accent .name:after, .color-accent .hsl:after, .color-accent .rgb:after {
  display: inline-block;
  float: right; }

.color-primary .color-primary-mix {
  background-color: #d8f5e8; }

.color-primary .name:after {
  content: "Mint"; }

.color-primary .hsl:after {
  content: "153deg/59%/90%"; }

.color-primary .rgb:after {
  content: "#D8F5E8"; }

.color-primary .color-secondary-mix {
  background-color: #9be7db; }

.color-primary .name:after {
  content: "Mint"; }

.color-primary .hsl:after {
  content: "153deg/59%/90%"; }

.color-primary .rgb:after {
  content: "#D8F5E8"; }

.color-primary .color-tertiary-mix {
  background-color: #e6e19f; }

.color-primary .name:after {
  content: "Mint"; }

.color-primary .hsl:after {
  content: "153deg/59%/90%"; }

.color-primary .rgb:after {
  content: "#D8F5E8"; }

.color-primary .color-accent-mix {
  background-color: #e6c2ad; }

.color-primary .name:after {
  content: "Mint"; }

.color-primary .hsl:after {
  content: "153deg/59%/90%"; }

.color-primary .rgb:after {
  content: "#D8F5E8"; }

.color-secondary .color-primary-mix {
  background-color: #67dad0; }

.color-secondary .name:after {
  content: "Teal"; }

.color-secondary .hsl:after {
  content: "177deg/66%/48%"; }

.color-secondary .rgb:after {
  content: "#2ACCC3"; }

.color-secondary .color-secondary-mix {
  background-color: #2accc3; }

.color-secondary .name:after {
  content: "Teal"; }

.color-secondary .hsl:after {
  content: "177deg/66%/48%"; }

.color-secondary .rgb:after {
  content: "#2ACCC3"; }

.color-secondary .color-tertiary-mix {
  background-color: #75c687; }

.color-secondary .name:after {
  content: "Teal"; }

.color-secondary .hsl:after {
  content: "177deg/66%/48%"; }

.color-secondary .rgb:after {
  content: "#2ACCC3"; }

.color-secondary .color-accent-mix {
  background-color: #75a795; }

.color-secondary .name:after {
  content: "Teal"; }

.color-secondary .hsl:after {
  content: "177deg/66%/48%"; }

.color-secondary .rgb:after {
  content: "#2ACCC3"; }

.color-tertiary .color-primary-mix {
  background-color: #f1d060; }

.color-tertiary .name:after {
  content: "Gold"; }

.color-tertiary .hsl:after {
  content: "43deg/100%/55%"; }

.color-tertiary .rgb:after {
  content: "#FFBC17"; }

.color-tertiary .color-secondary-mix {
  background-color: #b4c253; }

.color-tertiary .name:after {
  content: "Gold"; }

.color-tertiary .hsl:after {
  content: "43deg/100%/55%"; }

.color-tertiary .rgb:after {
  content: "#FFBC17"; }

.color-tertiary .color-tertiary-mix {
  background-color: #ffbc17; }

.color-tertiary .name:after {
  content: "Gold"; }

.color-tertiary .hsl:after {
  content: "43deg/100%/55%"; }

.color-tertiary .rgb:after {
  content: "#FFBC17"; }

.color-tertiary .color-accent-mix {
  background-color: #ff9d25; }

.color-tertiary .name:after {
  content: "Gold"; }

.color-tertiary .hsl:after {
  content: "43deg/100%/55%"; }

.color-tertiary .rgb:after {
  content: "#FFBC17"; }

.color-accent .color-primary-mix {
  background-color: #f1957a; }

.color-accent .name:after {
  content: "Tomato"; }

.color-accent .hsl:after {
  content: "11deg/100%/62%"; }

.color-accent .rgb:after {
  content: "#FF623F"; }

.color-accent .color-secondary-mix {
  background-color: #b4876d; }

.color-accent .name:after {
  content: "Tomato"; }

.color-accent .hsl:after {
  content: "11deg/100%/62%"; }

.color-accent .rgb:after {
  content: "#FF623F"; }

.color-accent .color-tertiary-mix {
  background-color: #ff8231; }

.color-accent .name:after {
  content: "Tomato"; }

.color-accent .hsl:after {
  content: "11deg/100%/62%"; }

.color-accent .rgb:after {
  content: "#FF623F"; }

.color-accent .color-accent-mix {
  background-color: #ff623f; }

.color-accent .name:after {
  content: "Tomato"; }

.color-accent .hsl:after {
  content: "11deg/100%/62%"; }

.color-accent .rgb:after {
  content: "#FF623F"; }

.color-primary .color-primary {
  background-color: #D8F5E8;
  float: left;
  width: 30%; }

.color-primary .color-primary-light {
  background-color: #ecfaf4;
  float: left;
  width: 30%; }

.color-primary .color-primary-dark {
  background-color: #c4f0dc;
  float: left;
  width: 30%; }

.color-secondary .color-secondary {
  background-color: #2ACCC3;
  float: left;
  width: 30%; }

.color-secondary .color-secondary-light {
  background-color: #39d6ce;
  float: left;
  width: 30%; }

.color-secondary .color-secondary-dark {
  background-color: #26b7af;
  float: left;
  width: 30%; }

.color-tertiary .color-tertiary {
  background-color: #FFBC17;
  float: left;
  width: 30%; }

.color-tertiary .color-tertiary-light {
  background-color: #ffc331;
  float: left;
  width: 30%; }

.color-tertiary .color-tertiary-dark {
  background-color: #fdb400;
  float: left;
  width: 30%; }

.color-accent .color-accent {
  background-color: #FF623F;
  float: left;
  width: 30%; }

.color-accent .color-accent-light {
  background-color: #ff7759;
  float: left;
  width: 30%; }

.color-accent .color-accent-dark {
  background-color: #ff4d26;
  float: left;
  width: 30%; }

/*# sourceMappingURL=styles.css.map */
