body{
  text-align: left;
}
h3{
  float: left;
  width: 35%;
  clear: left;
}
span{
  width:65%;
  display: inline-block;
  float: right;
}
.container{
  width: $baseWidth;
  max-width: $gridMaxWidth;
  margin: 0 auto;
}
.container:after,
.row:after{
  @extend %clearfix;
}
[class*='column-']{
  @extend %columnStyle;
  width: 100%;
}
.color-box{
  height: $colorBoxHeight;
}
[class*="-mix"]{
  height: $colorBoxMixHeight;
  margin-bottom: .75em;
  margin-top: .75em;
  clear: both;
}
@include bpMin($breakpointMedium){
  @include makeCols();
}
