

@mixin bpMax ($maxWidth){
  /*apply rules up the max width, then stop applying them*/
  @media only screen and (max-width: $maxWidth){
    @content;
  }
}
@mixin bpMin ($minWidth){
  /*apply rules up the max width, then stop applying them*/
  @media only screen and (min-width: $minWidth){
    @content;
  }
}

@mixin makeCols (){
  @for $i from 1 to 12{
    .column-#{$i}{
      width: (100% / $gridCols) * $i;
      // @extend .container; not letting me DRY up code here
    }
  }
}

@mixin outputColorNames(){
  @each $colorType, $colorValue in $colorNames{
    .color-#{$colorType}:before{
      content: "#{$colorType}";
      text-transform: capitalize;
    }
  }
}

@mixin outputColors(){
  @each $colorType, $colorValue in $colors{
    .color-#{$colorType} > .color-box{
      content: "#{$colorType}";
      background-color: $colorValue;
    }
  }
}
//color-primary > color-primary-mix
@mixin mixColors(){
  @each $colorTitle, $color in $colors{
    @each $scolorTitle, $scolor in $colors{
      .color-#{$colorTitle} .color-#{$scolorTitle}-mix{
        background-color: mix($color, $scolor, $mixAmount);
      }
    }
  }
}
