

@mixin bpMax ($maxWidth){
  /*apply rules up the max width, then stop applying them*/
  @media only screen and (max-width: $maxWidth){
    @content;
  }
}
@mixin bpMin ($minWidth){
  /*apply rules up the max width, then stop applying them*/
  @media only screen and (min-width: $minWidth){
    @content;
  }
}

@mixin makeCols (){
  @for $i from 1 to 12{
    .column-#{$i}{
      width: (100% / $gridCols) * $i;
      // @extend .container; not letting me DRY up code here
    }
  }
}

@mixin outputColorNames(){
  @each $colorType, $colorValue in $colorNames{
    .color-#{$colorType}:before{
      content: "#{$colorType}";
      display: block;
      margin-bottom: 10px;
    }
  }
}
