/*colors*/
$colors: (
  primary: #D8F5E8,
  secondary: #2ACCC3,
  tertiary: #FFBC17,
  accent: #FF623F
);

/*color names for output*/
$colorNames: (
  primary: "Mint",
  secondary: "Teal",
  tertiary: "Gold",
  accent: "Tomato"
);


$gridCols: 12;
$gridMaxWidth: 150em;
$baseWidth: 70%;
$colorBoxHeight: 70px;

$breakpointSmall: 10em;
$breakpointMedium: 50em;
%columnStyle{
  float: left;
  padding: 1em;
  margin-bottom: 1em;
  min-height: 1px;
}
%clearfix{
  *zoom: 1;
  &:before,
  &:after{
    content: "";
    display: table;
  }
  &:after{
    clear:both;
  }
}
