/*colors*/
$colorPrimary: #D8F5E8;
$colorSecondary: #2ACCC3;
$colorTertiary: #FFBC17;
$colorAccent: #FF623F;

$colors: (
  primary: $colorPrimary,
  secondary: $colorPrimary,
  tertiary: $colorPrimary,
  accent: $colorPrimary
);
/*color names for output*/
$colorPrimaryName: "Mint";
$colorSecondaryName: "Teal";
$colorTertiaryName: "Gold";
$colorAccentName: "Tomato";

$colorNames: (
  primary: $colorPrimaryName,
  secondary: $colorPrimaryName,
  tertiary: $colorPrimaryName,
  accent: $colorPrimaryName
);



$gridCols: 12;
$gridMaxWidth: 150em;
$baseWidth: 70%;
$colorBoxHeight: 70px;

$breakpointSmall: 10em;
$breakpointMedium: 50em;
%columnStyle{
  float: left;
  padding: 1em;
  margin-bottom: 1em;
  min-height: 1px;
}
%clearfix{
  *zoom: 1;
  &:before,
  &:after{
    content: "";
    display: table;
  }
  &:after{
    clear:both;
  }
}

@include outputColorNames ();
